@import "/styles/variables.scss";

.INTRO {
  height: calc(100vh - #{$navbar-height} - #{$navbar-vertical-gap});
  margin-top: $navbar-height + $navbar-vertical-gap;
  width: 100%;
  background: $navbar-color;
  color: white;

  padding: 1rem;
}

.introGrid {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1rem;
  color: black;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  font-size: 2rem;
  & > div {
    background: #e5e7eb;
    border-radius: 2px;
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
    display: block;

    & > .textCont {
      position: absolute;
      width: 100%;
      height: 100%;
      color: black;
      top: 0;
      left: 0;

      display: grid;
      place-items: center;
    }

    & > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  & > .special {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;

    display: grid;
    place-items: center;
  }

  & > .about {
    grid-column: span 2 / span 2;
  }

  & > .projects {
    grid-column: span 2 / span 2;
  }

  & > .welcomeText {
    grid-column: span 3 / span 3;
    background: none;
    color: white;

    padding: 2rem;
    font-size: 1rem;
  }

  & > .contact {
    grid-column: span 2 / span 2;
  }
}
