.SPECIAL {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  position: relative;

  pointer-events: none;

  & h1 {
    pointer-events: none;
    user-select: none;
  }
}

.textCont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & > h1 {
    visibility: hidden;
  }
}

.engineerText {
  & > div {
    display: flex;
    flex-direction: row;

    & > h1 {
      visibility: hidden;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
