@import "/styles/variables.scss";

.NAVBAR {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background: $navbar-color;
  padding: 1rem;
  border-bottom: 1px solid white;
  z-index: 10;
}

.NAVBAR,
.leftSide,
.rightSide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.leftSide,
.rightSide {
  width: 50%;
}

.rightSide {
  justify-content: flex-end;

  & > h1 {
    font-size: 1rem;
  }
}

$logoLetterSpacing: 2px;

.leftSide > .logo {
  width: 55px;
  height: 55px;
  font-size: 12px;
  letter-spacing: -$logoLetterSpacing;
  padding: 5px;
  border-radius: 50%;
  background: #831843;

  box-sizing: content-box;
  border: 2px solid white;

  display: grid;
  place-items: center;

  & > h1 {
    margin-right: $logoLetterSpacing;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .NAVBAR {
    display: none;
  }
}
