$navbar-color: #111827;
$navbar-height: 80px;
$navbar-vertical-gap: 0px;

@mixin sectionBasics {
  height: calc(100vh - #{$navbar-height} - #{$navbar-vertical-gap});
  // margin-top: $navbar-height + $navbar-vertical-gap;
  width: 100%;
  background: $navbar-color;
  color: white;

  padding: 1rem;
}
